<h1><%= @cohort.name %></h1>
<div>
  <%= form_for :groupings, url: cohort_groupings_path(@cohort) do |f| %>
    <div>
      <%= f.label :size, 'Size' %>
      <%= f.label :size, class: 'group-size__label' %>
      <%= f.range_field :size, class: 'group-size', min: '3', max: '6', value: '3' %>
    </div>
    <%= f.submit 'Group your cohort!' %>
  <% end %>

</div>
<div>
  <h2>Student roster</h2>
  <ul>
    <% @cohort.students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
</div>
<div>
  <h2>Groupings</h2>
  <% @cohort.groupings.select(:grouping_id).order(:grouping_id).group(:grouping_id).count.size.times do |grouping| %>
    <div class='grouping'>
      <h3>Grouping <%= grouping + 1 %></h3>
      <% @cohort.groupings.select(:group_id).where(grouping_id: grouping).order(:group_id).group(:group_id).count.size.times do |group| %>
        <div class='group'>
          <h4 class='group__title'>Group <%= group + 1 %></h4>
          <ul>
            <% @cohort.groupings.where(group_id: group).each do |g| %>
              <li class='group__content'><%= g.student.name %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
