<h1><%= @cohort.name %></h1>
<div>
  <%= form_for :groupings, url: groupings_path(cohort_id: @cohort.id) do |f| %>
    <div>
      <%= f.label :size, 'Size' %>
      <%= f.label :size, 'asd', class: 'group-size__label' %>
      <%= f.range_field :size, class: 'group-size', min: '3', max: '6', value: '3' %>
    </div>
    <%= f.submit 'Group your cohort!' %>
  <% end %>
</div>
<div>
  <h2>Student roster</h2>
  <ul>
    <% @cohort.students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
</div>
