<div class="show-cohort-container">

  <div>
    <h4><%= @cohort.name %></h4>
    <%= form_for :groupings, url: cohort_groupings_path(@cohort) do |f| %>
      <div>
        <%= f.label :size, 'Size' %>
        <%= f.label :size, class: 'group-size__label' %>
        <%= f.range_field :size, class: 'group-size', min: '3', max: '6', value: '3' %>
      </div>
      <%= f.submit "Group 'em!" %>
    <% end %>

  </div>
  <div>
    <h4>Roster</h4>
    <ul>
      <% @cohort.students.each do |student| %>
        <li><%= student.name %></li>
      <% end %>
    </ul>
  </div>
</div>

  <h2 align='center'>Groupings</h2>
  <div class="groupings">
    <% @cohort.groupings.select(:group_id).order(:group_id).group(:group_id).count.size.times do |i| %>
      <div class='group'>
        <h3 class='group__title'>Group <%= i %></h3>
        <ul>
          <% @cohort.groupings.where(group_id: i).each do |grouping| %>
            <li class='group__content'><%= grouping.student.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
