<div class="show-cohort-container">

  <div>
    <h4><%= @cohort.name %></h4>
    <%= form_for :groupings, url: cohort_groupings_path(@cohort) do |f| %>
      <div>
        <%= f.label :size, 'Size' %>
        <%= f.label :size, class: 'group-size__label' %>
        <%= f.range_field :size, class: 'group-size', min: '3', max: '6', value: '3' %>
      </div>
      <%= f.submit "Group 'em!" %>
    <% end %>
  </div>

  <div>
    <h4>Roster</h4>
    <!-- <ul> -->
    <div class="roster-container">
      <% @cohort.students.each do |student| %>
        <%= student.name %>
      <% end %>
    </div>
    <!-- </ul> -->
  </div>
</div>

<!-- <h4 align='center' class="groupings-link">Groupings</h4> -->
<div class='groupings'>

<% @cohort.groupings.select(:grouping_id).group(:grouping_id).count.size.times do |grouping| %>
  <div class='grouping'>
    <h5 align='center'><%= link_to "Grouping #{grouping + 1}", cohort_grouping_path(@cohort, grouping + 1) %></h5>

    <% @cohort.groupings.select(:group_id).where(grouping_id: grouping).group(:group_id).count.size.times do |grp| %>
      <div class='group'>
        <h5 class='group__title'>Group <%= grp + 1 %></h5>
        <ul>
          <% @cohort.groupings.where(grouping_id: grouping, group_id: grp).each do |g| %>
            <li class='group__content'><%= g.student.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# link_to 'Delete', cohort_grouping_path(@cohort, grouping + 1), data: {confirm: 'Are you sure?'}, method: "delete" %>

  </div>
<% end %>
</div>
