<div class="user-form">

<h4>User Registration</h4>
<%= form_for @user do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %><br>
  <%= f.label :email %>:
  <%= f.email_field :email %><br>
  <%= f.label :password %>:
  <%= f.password_field :password %><br>
  <%= f.submit %>
  <% end %>

</div>
